z_buildlog.txt
.DS_Store
*.o
*.d
.minimal-deps
qmake/Makefile
qmake/libacfutils.a
qmake/mac64
qmake/win64
qmake/lin64
.qmake.stash
object_script.libacfutils.Debug
object_script.libacfutils.Release

build_opus_deps

cglm/cglm-0.7.9

src/test/dsfdump
src/test/shpdump

libacfutils-redist
qmake/acfutils.def
qmake/acfutils_resource.rc
qmake/object_script.acfutils.Debug
qmake/object_script.acfutils.Release

ucpp/libucpp.a
ucpp/sample


